<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Details</title>
  </head>
  <body>
    <!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
  </button>
  <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
<!--Section: REGISTRATION v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">REGISTRATION</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Please enter your details below</p>

    <div class="row">

        <!--Grid column-->
        <div class="px-4">
            <form id="UserD" name="UserD" action="/" method="POST">
            {% csrf_token %}

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="fname" name="fname" class="form-control">
                            <label for="fname" class="">First Name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="lname" name="lname" class="form-control">
                            <label for="lname" class="">Last Name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="phone" name="phone" class="form-control">
                            <label for="phone" class="">Phone Number</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-15">
                        <div class="md-form mb-0">
                            <input type="text" id="add_line1" name="add_line1" class="form-control">
                            <label for="add_line1" class="">Address Line 1</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="add_line2" name="add_line2" class="form-control">
                            <label for="add_line2" class="">Address Line 2</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid column-->
                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <input type="text" id="city" name="city" class="form-control">
                        <label for="city" class="">City</label>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <input type="text" id="state" name="state" class="form-control">
                        <label for="state" class="">State</label>
                    </div>
                </div>
                <!--Grid column-->


                <!--Grid column-->
                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <input type="text" id="zipcode" name="zipcode" class="form-control">
                        <label for="zipcode" class="">zipcode</label>
                    </div>
                </div>
                <!--Grid column-->


            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('UserD').submit();">SUBMIT</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
</body>
</html>